<%- layout('layout/dashboard') %>

<% if(success.length > 0){ %>
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        <p class="mb-0"><%= success %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>  


<div class="row px-5 py-4 mt-3">
    <div class="col-lg-8 offset-md-2 wow fadeInUp" data-wow-delay="0.2s">
        <form action="/dashboard/course/add" method="post" class="card" autocomplete="off" enctype="multipart/form-data">
            <div class="card-header">
                <h3>Crear un nuevo curso</h3>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Título del curso:</label>
                        <input type="text" maxlength="50" name="title" class="form-control" required placeholder="Curso de...">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label>Consultor:</label>
                        
                        <select class="form-control" name="consultant" required>
                            <option disabled selected>...</option>
                            <option value="Jhonatan Maderos">Jhonatan Maderos</option>
                            <option value="David Forero">David Forero</option>
                            <option value="Jhonas Canvals">Jhonas Canvals</option>
                            <option value="Yuli Rojas">Yuli Rojas</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Modalidad:</label>

                        <select class="form-control" name="modo" required>
                            <option disabled selected>...</option>
                            <option value="Presencial">Presencial</option>
                            <option value="Online">Online</option>
                        </select>                        
                    </div>
                </div>

                <div class="form-row">
                    <label>Descripción del curso:</label>

                    <div class="col-md-12 form-group">
                        <textarea name="description" class="form-control" required rows="8"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Fecha:</label>
                        <input type="date" name="day" min="<%= moment().format('l') %>" class="form-control" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Lugar:</label>
                        <select class="form-control" name="place" required>
                            <option disabled selected>...</option>
                            <option value="Hotel Gran Casino - Los Teques (Venezuela)">Hotel Gran Casino - Los Teques (Venezuela)</option>
                            <option value="Plaza Venezuela - Caracas (Venezuela)">Plaza Venezuela - Caracas (Venezuela)</option>
                            <option value="Skype">Skype</option>
                            <option value="DUO">DUO</option>
                            <option value="Hangsgout">Hangsgout</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Desde (Hora):</label>
                        <select class="form-control" name="timeFrom" required>
                            <option disabled selected>...</option>
                            <option value="8:00am">8:00am</option>
                            <option value="8:30am">8:30am</option>
                            <option value="9:00am">9:00am</option>
                            <option value="9:30am">9:30am</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Hasta (Hora):</label>
                        <select class="form-control" name="timeUntil" required>
                            <option disabled selected>...</option>
                            <option value="8:00am">8:00am</option>
                            <option value="8:30am">8:30am</option>
                            <option value="9:00am">9:00am</option>
                            <option value="9:30am">9:30am</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Costo:</label>
                        <input type="text" id="number" name="price" class="form-control" required>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label>Imagen del curso:</label>
                        <input type="file" name="image" required>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary px-4 py-2">
                        Publicar Curso
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-center flex-wrap mb-5">
    
        <% for(let i=0; i < courses.length; i++){ %>
            <div style="width: 350px;" class="card m-2 wow fadeInUp" data-wow-delay="0.2s">
                <a href="/payment/<%= courses[i].public_img_id %>"><img src="<%= courses[i].imageURL %>" height="261" class="card-img-top" alt="<%= courses[i].title %>"></a>
                
                <div class="card-body separar">
                    <a href="/payment/<%= courses[i].public_img_id %>"><h3 class="card-title text-primary"><%= courses[i].title %></h3></a>
    
                    <div class="datos-card">
                        <p><i class="fa fa-user"></i> Participantes: <%= courses[i].participants_count %></p>
                        <p><i class="fa fa-clock-o"></i> Publicado: <%= moment(courses[i].created_at).locale('es').startOf('minutes').fromNow() %></p>
                    </div>
                </div>
            </div>
        <% } %>
    
</div>
