<%- layout('layout/main.ejs') %>

<div class="container p-4">
        <div class="d-flex justify-content-center flex-wrap mb-4">
            <a href="/capacitaciones/todos/1" class="btn btn-dark text-white mr-4 py-2 px-4" style="border-radius: 0 !important">Todos (<%= counts.courses %>)</a>

            <a href="/capacitaciones/online/1" class="btn btn-dark text-white mr-4 py-2 px-4" style="border-radius: 0 !important">Online (<%= counts.online %>)</a>

            <a href="/capacitaciones/presencial/1" class="btn btn-dark text-white mr-4 py-2 px-4" style="border-radius: 0 !important">Presenciales (<%= counts.presencial %>)</a>
        </div>
</div>

<div class="container">
    <div class="d-flex flex-wrap mb-5 allCourses">
        
        <% for(let i=0; i < courses.length; i++){ %>
            <div style="width: 350px;" class="card m-2 wow flipInY" data-wow-delay="0.2s">
                <a href="/payment/<%= courses[i].uniqueId %>"><img src="/uploads/<%= courses[i].image %>" height="261" class="card-img-top" alt="<%= courses[i].title %>"></a>
                
                <div class="card-body separar">
                    <a href="/payment/<%= courses[i].uniqueId %>"><h3 class="card-title text-primary"><%= courses[i].title %></h3></a>
    
                    <div class="datos-card">
                        <p class="my-1"><b><i class="fa fa-bullhorn"></i> Modalidad:</b> <%= courses[i].modo %></p>

                        <p class="my-1"><b><i class="fa fa-calendar-alt"></i> Fecha:</b> <%= moment(courses[i].day).format("DD/MM/YYYY") %></p>
                        <p class="my-1"><b><i class="fas fa-money-bill-wave"></i> Costo:</b>  <%= Intl.NumberFormat("de-DE").format(courses[i].price)%>Bs</p>
                    </div>
                </div>
            </div>
        <% } %>
    
    </div>
</div>


<div class="d-flex justify-content-center my-4">
    <% if(pages){ %>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- PRIMERO -->
                <% if(current == 1){ %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Primera página</a>
                    </li>
                <% }else{ %>
                    <li class="page-item">
                        <a class="page-link" href="/capacitaciones/1" tabindex="-1">Primera página</a>
                    </li>
                <% } %> 
    
                <!-- PAGES -->
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1)%>
                <% if(i !== 1){ %>
                        <li class="page-item">
                            <a class="page-link" href="#">...</a>
                        </li>
                <% } %>  
                
                <% for(; i <= (Number(current + 4)) && i <= pages; i++) { %>
                    <% if(i == current) { %>
                        <li class="page-item active">
                            <a class="page-link" href="/capacitaciones/<%= i %>"><%= i %></a>
                        </li>
                    <% }else{ %>
                        <li class="page-item">
                            <a class="page-link" href="/capacitaciones/<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                <% } %>
    
                <% if(i == Number(current) + 4 && i < pages){ %>
                    <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li>
                <% } %>  
    
                <!-- ULTIMO -->
                <% if(current == pages){ %>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                <% }else{ %>
                    <li class="page-item">
                        <a class="page-link" href="/capacitaciones/<%= pages %>" tabindex="-1">Última página</a>
                    </li>
                <% } %> 
            </ul>
        </nav>
    <% } %>   
</div>                            