<table style="background-color: white;">
  <tbody>
    <tr>
      <td>
        <div
          style="
            border: 1px solid #222;
            padding: 9px;
            text-align: center;
            max-width: 255px;
          "
          id="voucher"
        >
          <style type="text/css">
            .normal-left {
              font-family: Tahoma;
              font-size: 7pt;
              text-align: left;
            }
            .normal-right {
              font-family: Tahoma;
              font-size: 7pt;
              text-align: right;
            }
            .big-center {
              font-family: Tahoma;
              font-size: 9pt;
              text-align: center;
              font-weight: 900;
            }
            .big-center-especial {
              font-family: Tahoma;
              font-size: 9pt;
              text-align: center;
              font-weight: 900;
              letter-spacing: 0.9em;
            }
            .big-left {
              font-family: Tahoma;
              font-size: 9pt;
              text-align: left;
              font-weight: 900;
            }
            .big-right {
              font-family: Tahoma;
              font-size: 9pt;
              text-align: right;
              font-weight: 900;
            }
            .normal-center {
              font-family: Tahoma;
              font-size: 7pt;
              text-align: center;
            }
            #voucher td {
              padding: 0;
              margin: 0;
            }
          </style>
          <div id="voucher">
            <table>
              <tr>
                <td colspan="4" class="normal-center">COPIA - CLIENTE</td>
              </tr>
              <tr>
                <td colspan="4" class="big-center-especial">
                  <br />
                  BANESCO
                </td>
              </tr>
              <tr>
                <td colspan="4" class="big-center"><br /></td>
              </tr>
              <tr>
                <td colspan="4" style="height: 8px;"></td>
              </tr>
              <tr>
                <td colspan="4" class="normal-left">TECNOLOGIA INSTAPAGO</td>
              </tr>
              <tr>
                <td colspan="4" class="normal-left">DEMOSTRACI&#211;N</td>
              </tr>
              <tr>
                <td colspan="4" class="normal-left">J-000000000</td>
              </tr>
              <tr>
                <td colspan="4" style="height: 8px;"></td>
              </tr>
              <tr>
                <td colspan="2" class="normal-left"><%= voucher.approval %></td>
                <td colspan="2" class="normal-right"><%= voucher.approval %></td>
              </tr>
              <tr>
                <td colspan="1" class="normal-left">FECHA:</td>
                <td colspan="3" class="normal-left"><%= voucher.datetime %></td>
              </tr>

              <tr>
                <td class="normal-left">NRO. REF.:</td>
                <td class="normal-left"><%= voucher.reference %></td>
                <td class="normal-right">LOTE:</td>
                <td class="normal-right"><%= voucher.lote %></td>
              </tr>
              <tr>
                <td colspan="1" class="normal-left">APROBACION:</td>
                <td colspan="3" class="normal-left"><%= voucher.approval %></td>
              </tr>
              <tr>
                <td colspan="1" class="normal-left">SECUENCIA:</td>
                <td colspan="3" class="normal-left"><%= voucher.sequence %></td>
              </tr>
              <tr>
                <td colspan="4" style="height: 8px;"></td>
              </tr>
              <tr>
                <td colspan="4" class="big-center">
                  <br />
                  MONTO BS. <%= voucher.amount %>
                </td>
              </tr>
              <tr>
                <td colspan="4" style="height: 8px;"></td>
              </tr>
              <tr style="margin-top: 10px;">
                <td colspan="4" class="big-center">RIF: J-000000000</td>
              </tr>
              <tr>
                <td colspan="4" style="height: 8px;"></td>
              </tr>
              <tr>
                <td colspan="4" class="normal-left">
                  <b> <br /> </b>
                </td>
              </tr>
              <tr>
                <td colspan="4" class="normal-left"><br />debito</td>
              </tr>
              <tr>
                <td colspan="1" class="normal-left">ID:</td>
                <td colspan="3" class="normal-left"><%= voucher.id %></td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
