<%- layout('layout/dashboard')%>

<div class="row px-5 py-4 mt-3">
    <div class="col-lg-8 offset-md-2 wow fadeInUp" data-wow-delay="0.2s">
        <form action="/dashboard/course/edit/<%= edit._id %>" method="post" class="card" autocomplete="off" enctype="multipart/form-data">
            <div class="card-header">
                <img src="/uploads/<%= edit.image %>" class="card-img-top">
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Título del curso:</label>
                        <input type="text" maxlength="50" value="<%= edit.title %>" name="title" class="form-control" required placeholder="Curso de...">
                    </div>
                    
                    <div class="form-group col-md-4">
                        <label>Consultor:</label>
                        
                        <select class="form-control" name="consultant" required>
                            <option value="<%= edit.consultant %>" disabled selected><%= edit.consultant %></option>
                            <option value="Jhonatan Maderos">Jhonatan Maderos</option>
                            <option value="David Forero">David Forero</option>
                            <option value="Jhonas Canvals">Jhonas Canvals</option>
                            <option value="Yuli Rojas">Yuli Rojas</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <label>Modalidad:</label>

                        <select class="form-control" name="modo" required>
                            <option value="<%= edit.modo %>" disabled selected><%= edit.modo %></option>
                            <option value="Presencial">Presencial</option>
                            <option value="Online">Online</option>
                        </select>                        
                    </div>
                </div>

                <div class="form-row">
                    <label>Descripción del curso</label>

                    <div class="col-md-12 form-group">
                        <textarea name="description" class="form-control" required rows="8"><%= edit.description %></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Fecha:</label>
                        <input type="date" name="day" min="<%= moment().format() %>" class="form-control" value="<%= edit.day %>" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Lugar:</label>
                        <select class="form-control" name="place" required>
                            <option value="<%= edit.place %>" disabled selected><%= edit.place %></option>
                            <option value="Hotel Gran Casino - Los Teques (Venezuela)">Hotel Gran Casino - Los Teques (Venezuela)</option>
                            <option value="Plaza Venezuela - Caracas (Venezuela)">Plaza Venezuela - Caracas (Venezuela)</option>
                            <option value="Skype">Skype</option>
                            <option value="DUO">DUO</option>
                            <option value="Hangsgout">Hangsgout</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Desde (Hora):</label>
                        <select class="form-control" name="timeFrom">
                            <option disabled selected><%= edit.timeFrom %></option>
                            <option value="8:00am">8:00am</option>
                            <option value="8:30am">8:30am</option>
                            <option value="9:00am">9:00am</option>
                            <option value="9:30am">9:30am</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Hasta (Hora):</label>
                        <select class="form-control" name="timeUntil">
                            <option disabled selected><%= edit.timeUntil %></option>
                            <option value="8:00am">8:00am</option>
                            <option value="8:30am">8:30am</option>
                            <option value="9:00am">9:00am</option>
                            <option value="9:30am">9:30am</option>
                            <option value="10:00am">10:00am</option>
                            <option value="10:30am">10:30am</option>
                            <option value="11:00am">11:00am</option>
                            <option value="11:30am">11:30am</option>
                            <option value="12:00pm">12:00pm</option>
                            <option value="1:00pm">1:00pm</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="2:00pm">2:00pm</option>
                            <option value="2:30pm">2:30pm</option>
                            <option value="3:00pm">3:00pm</option>
                            <option value="3:30pm">3:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="4:30pm">4:30pm</option>
                            <option value="5:00pm">5:00pm</option>
                            <option value="5:30pm">5:30pm</option>
                            <option value="6:00pm">6:00pm</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Costo:</label>
                        <input type="text" id="number" name="price" class="form-control" value="<%= edit.price %>">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary px-4 py-2">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>